#about .about{
    background-color: white;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
#about .about1{
 color: red;
}
#about .about2{
    font-size: 20px;
}
#about .about3{
    background-color: white;
    text-align: center;
    padding: 5px;
}
#about .about4{
    color: red;
}
#about .about5{
    font-size: 20px;
}
#about .about6{
    background-color: white;
    text-align: center;
    padding: 5px;
}
#about .about7{
    color: red;
}
#about .about8{
    font-size: 20px;
}